//Background colors
$back-header: #d1d1d1;
$back-nav: #b0b0b0;
$back-article: #fff;
$back-footer: #f6f6f6;
$back-year: #ababab;

//Font colors
$h: #1a1a1a;
$accentFire: #b11116;
$darkGrey: #696969;
$lightGrey: #ababab;
$accentCloud: #fff;