<div class="wrapper-footer">
  <footer class="flex">
    <div class="footer-contacts">
      <div class="header">
        Контакты
      </div>
      <ul>
        <li class="number">+7 922 141-86-30</li>
        <li>Ежедневно 08:00 - 21:00</li>
        <li>Екатеринбург, Южный</li>
        <li>автовокзал, 8 марта, 145</li>
        <li>barhan.cafe@gmail.com</li>
      </ul>
    </div>
    <div class="footer-nav">
      <div class="header">
        Навигация
      </div>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about_us">О нас</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/contacts">Контакты</a></li>
      </ul>
    </div>
    <div class="footer-menu">
      <div class="header">
        Меню
      </div>
      <ul>
        <li><a href="/menu/soups">Супы</a> <a href="/menu/salads">Салаты</a></li>
        <li></li>
        <li><a href="/menu/hot">Горячее</a></li>
        <li><a href="/menu/garnish">Гарниры</a></li>
        <li><a href="/menu/bakery">Выпечка</a></li>
        <li><a href="/menu/drinks">Напитки</a></li>
      </ul>
    </div>
    <div class="footer-subscribe flex">
      <div class="header">
        Рассылка
      </div>
      <p>
        Подпишитесь, чтобы получать актуальные новости! 
      </p>
      <form action="/footer" method="POST">
        <input type="email" name="email" placeholder="Email adress">
        <input type="submit"  value="Подписаться">
      </form>
    </div>
  </footer>
</div>
