<div class="wrapper-header">
  <header class="flex">
    <div class="header-phone flex">
      <div class="wrap-phone flex">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="phone"> +7 922 141-86-30</span>
      </div>
      <div class="work-time">Время работы 08:00 - 21:00</div>
    </div>
    <div class="header-main flex">
      <div class="wrap-image">
        <a href="/"><img src="../assets/img/Barhan.png" alt="Лого сайта Бархан"></a>
      </div>
      <ul class="flex">
      <li><a href="/">Главная</a></li>
      <li><a href="/about_us">О нас</a></li>
      <li><a href="/menu">Меню</a></li>
      <li><a href="/news">Новости</a></li>
      <li><a href="/contacts">Контакты</a></li>
      </ul>
    </div>
    <div class="header-basket flex">
      <a href="/basket"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <div class="wrap-basket">
        <div class="basket"><a href="/basket">Корзина</a></div>
      </div>
    </div>
  </header>
</div>