<div class="wrapper-nav">
  <nav class="flex">
    <ul class="flex">
      <li><a href="/menu/soups">Супы</a></li>
      <li><a href="/menu/salads">Салаты</a></li>
      <li><a href="/menu/hot">Горячее</a></li>
      <li><a href="/menu/garnish">Гарниры</a></li>
      <li><a href="/menu/bakery">Выпечка</a></li>
      <li><a href="/menu/drinks">Напитки</a></li>
    </ul>
  </nav>
</div>