@import "../_variables.scss";
article{
 background-color: #fff;
 height: 1110px;
 max-width: 1200px;
 margin: 0px auto;
 .article-thing {
   text-align: center;
   margin-top: 50px;
 }
 .article-hits {
   text-align: center;
   margin-top: 24px;
   font-family: 'FiraSans-Bold', 'sans-serif';
   font-size: 34px;
   text-transform: uppercase;
 }
 ul {
  flex-basis: 100%;
  margin: 70px 0px 0px 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
 }
 li {
   flex-basis: 23%;
   margin: 0 12% 7% 0;
   flex-direction: column;
 }
 li:nth-child(3n){
   margin: 0 0 1% 0;
 }
 .block-image {
   width: 100%;
   height: 100%;
   border-radius: 10px;
 }
 .article-price {
   box-sizing: border-box;
   width: 100%;
   height: 80px;
   align-items: center;
   padding: 10px 15px;
   justify-content: space-between;
 }
 .article-to-basket {
   text-align: center;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
   height: 80px;
   padding: 10px 15px;
   font-size: 18px;
   font-family: 'FiraSans-Light', 'sans-serif';
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   background-color: $accentFire;
   cursor: pointer;
   text-decoration: none;
   .fa-shopping-cart {
     font-size: 60px;
   }
 }
 .attributes {
   flex-basis: 70%;
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
   font-family: 'FiraSans-Bold', 'sans-serif';
   font-size: 14px;
   text-transform: uppercase;
   .name {
     color: $h;
   }
   .gramm {
     color: $darkGrey;
   }
 }
 .price {
   font-family: 'FiraSans-Regular', 'sans-serif';
   font-size: 20px;
   box-sizing: border-box;
   color: $accentFire;
   .fa-rub {
     margin-left: 5px;
   }
 }
 .article-to-menu {
  margin: -30px auto 15px;
  padding: 5px;
  text-align: center;
  width: 180px;
  height: 35px;
  background-color: $accentFire;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'FiraSans-SemiBold', 'sans-serif';
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  z-index: 100;
 } 
 .visib {
  display: none;
 }
}