<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barhan restaurant</title>
  <link rel="stylesheet" href="../assets/libs/FontAwesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/css_about_us/style.css">
  <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
  <base href="http://127.0.0.1:3000/">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/nav.ejs %>
  <article class="flex">
    <img src="../assets/img/Wide_slash.png" alt="">
    <div class="article-content flex">
      <img src="../assets/img/about_us.jpg" class="image" alt="">
      <div class="content flex">
        <h2 class="head">
          Попробуй восток на вкус!
        </h2>
        <div class="body">
          <p>«БарХан» – это кафе узбекской и азербайджанской кухни, представляет гос-тям все вкусы и ароматы востока и имеет большой выбор национальных блюд. Такое городское заведение нацелено на повышение комфорта и пред-назначено для активных посетителей, ценящих личное время и имеющих различные уровни доходов.</p>

          <p>Мы приглашаем вас попробовать лучшие блюда узбекской кухни. Мастерство наших поваров способно удивить даже самых взыскательных гостей. Настоящий узбекский плов с бараниной, приготовленный по старинным восточным рецептам в казане, разнообразные шашлыки, лагман,шурпа, манты и многое другое. Ну и, конечно, восточные сладости и выпечка: самса, лаваш, катлама, пахлава, чак-чак, мед, орехи и сочные фрукты.</p>

          <p>Служба заказа «БарХан» – это скорость и удобство в сочетании с безупречным качеством обслуживания. Заказы работает 7 дней в неделю с 08:00 до 21:00.</p>
        </div>
      </div>
    </div>
    <img src="../assets/img/Wide_slash.png" alt="">
  </article>
  <% include partials/footer.ejs %>
  <% include partials/year.ejs %>
</body>