<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barhan restaurant</title>
  <link rel="stylesheet" href="../assets/libs/FontAwesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/css_news/style.css">
  <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/nav.ejs %>
  <article class="flex">
    <img src="../assets/img/Wide_slash.png" alt="">
    <ul class="flex">
      <li class="flex">
        <img src="../assets/img/news.jpg" alt="" class="image">
        <div class="new flex">
          <h2>Встречаем лето!</h2>
          <p class="data">24.05.2017</p>
          <hr>
          <p class="text">Летние варанды, авторские коктейли и лимонады, дымные кальяны и, конечно, наше ЛЕТНЕЕ МЕНЮ! Представляем Вашему вниманию новые блюда от Шеф-повара "Павлин Мавлин": восточные и...</p>
          <a href="/news/news">Читать далее</a>
        </div>   
      </li>
      <li class="flex">
        <img src="../assets/img/news2.jpg" alt="" class="image">
        <div class="new flex">
          <h2>Новые блюда!</h2>
          <p class="data">26.05.2017</p>
          <hr>
          <p class="text">Представляем вашему вниманию новые блюда "БарХана".</p><br><br>
          <a href="/news/news1">Читать далее</a>
        </div>   
      </li>
      <li class="flex">
        <img src="../assets/img/news3.jpg" alt="" class="image">
        <div class="new flex">
          <h2>Новые акции!</h2>
          <p class="data">29.05.2017</p>
          <hr>
          <p class="text">Первые клиенты, заказавшие блюда через сайт, получат подарки, нужно только лишь...</p><br><br>
          <a href="/news/news2">Читать далее</a>
        </div>   
      </li>
    </ul>
    <img src="../assets/img/Wide_slash.png" alt="">
  </article>
  <% include partials/footer.ejs %>
  <% include partials/year.ejs %>
</body>