<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barhan restaurant</title>
  <link rel="stylesheet" href="../assets/libs/FontAwesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/css_news_article/style.css">
  <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/nav.ejs %>
  <article class="flex">
    <img src="../assets/img/Wide_slash.png" alt="">
    <div class="article-content flex">
      <img src="../assets/img/New.jpg" alt="" class="article-image">
      <div class="article-new flex">
        <h2>Встречаем лето!</h2>
        <p class="article-data">24.05.2017</p>
        <p class="article-text">Летние варанды, авторские коктейли и лимонады, дымные кальяны и, конечно, наше ЛЕТНЕЕ МЕНЮ! Представляем Вашему вниманию новые блюда от Шеф-повара "Павлин Мавлин": восточные и авторские летние салаты из свежих овощей и фруктов, холодные супы, блюда на мангале, дары черного моря, великолепные десерты и многое другое!</p>
      </div>
    </div>
    <img src="../assets/img/Wide_slash.png" alt="">
  </article>
  <% include partials/footer.ejs %>
  <% include partials/year.ejs %>
</body>