@import "../styles/_header.scss";
@import "../styles/_nav.scss";
@import "../styles/articles/_article_news.scss";
@import "../styles/_footer.scss";
@import "../styles/_year.scss";


body {
  margin: 0px auto;
  padding: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}